.home-page {
  width: 100vw;
  height: 100vh;
}

.new-training-page {
  height: 70vh;
}

.exercise-list {
  height: 10rem;
  overflow: scroll;
}

.exercise-label-text {
  /* color: #b9ebcc; */
  font-weight: 500;
  background-color: white;
  padding: 10px 30px 10px 30px;
  border-radius: 100px;
}

.empty-list-message {
  font-size: 2rem;
}

.invalid-exercise-list{
  color: #dc3545;
}

.card-header {
  background-color: #98d6ea !important;
}

.card-body {
  background-color: #b9ebcc !important;
}

.card-footer.round-footer-rest {
  background-color: #ffeb99 !important;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.card-footer.round-footer-finish {
  background-color: #ed6663 !important;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}
