@import "../node_modules/rfs/scss";
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

.home-page {
  width: 100vw;
  height: 100vh;
}

.new-training-page {
  height: 80vh;
}

.exercise-list {
  height: 10rem;
  overflow: scroll;
}

.exercise-label-text {
  /* color: #b9ebcc; */
  font-weight: 500;
  background-color: white;
  padding: 10px 30px 10px 30px;
  border-radius: 100px;
}

.empty-list-message {
  @include font-size(2rem);
  text-align: center;
}

.invalid-exercise-list{
  color: #dc3545;
}

.card-header {
  background-color: #98d6ea !important;
}

.card-body {
  background-color: #b9ebcc !important;
}

.card-footer.round-footer-rest {
  background-color: #ffeb99 !important;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.card-footer.round-footer-finish {
  background-color: #ed6663 !important;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

.content-img {
  width: 20%;
  height: auto
}

@include media-breakpoint-down(sm) { 
  .content-img {
    width: 40%;
    height: auto
  }
}
